@import "../config/global";

.todos-add {
    border-bottom: 1px solid $add-border-color;
    }
.todos-add:after {
    content: '';
    display: block;
    clear: both;
    }

.todos-add_select-all {
    width: $add-width;
    height: $add-height;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;

    }

.todos-add_select-all_icon {
    width: $add-select-icon-width;
    height: $add-select-icon-height;
    background: url('../../../img/icons/select-all.png') no-repeat 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: $add-select-icon-height/2*-1 $add-select-icon-width/2*-1;
    }

.todos-add_new-item-w {
    overflow: auto;
    }

.todos-add_new-item {

    width: 100%;

    box-sizing: border-box;
    border: 0;
    background: none;

    color: $add-new-item-font-color;
    font-size: $default-size;
    line-height: 30px;
    font-weight: 200;
    padding-right: 12px;
    margin-top: 14px;
    outline: none;

    }
.todos-add_new-item::placeholder {
    color: $add-placeholder-color;
    font-style: italic;
    }