$main-background: #f5f5f5;

$action-bar-color: #888888;

$action-bar-border-color: #EBDFDF;

$add-border-color: #E6E6E6;
$list-border-color: #E6E6E6;

$add-new-item-font-color: #666;

$add-placeholder-color: #ccc;

$list-item-hover-color: #FAFAFA;

$checkbox-circle-color: #E7E7E7;

$checkbox-checked-circle-color: #61C3B1;

$item-text-color: #666;

$_ready-color: #CFCFCF;

$main-color: #fff;
