$main-wrapper-min-width: 280px;

$main-wrapper-max-width: 560px;


$add-height: 64px;
$add-width: 64px;


$add-select-icon-height: 12px;
$add-select-icon-width: 24px;

$list-height: 60px;
$list-width: 60px;

$checkbox-circle-size: 34px;

$item-remove-size: 16px;

$item-text-height: 64px;